* {
    box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%; 
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


body {
    background-image: url(img/bg.jpg);
    background-position: center 5px;
    background-size: 860px 970px;
    position:relative;
    background-repeat: no-repeat;
    background-color: black;
}


button {

	boarder: none; 
	opacity:0; 
	position: absolute; 
	width: 28px; 
	height: 50px; 
	left: 1120px; 
	top: 766px; 
	display: none; 
}